body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 15px;
    color: peachpuff;
    -webkit-text-stroke: 0.7px black;
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#container {
    background-color: peachpuff;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
}

.grid-controls {
    display: flex;
    padding-bottom: 20px;
    gap: 20px;
}

.colors {
    display: flex;
    padding-bottom: 20px;
    gap: 20px;
}


.tile {
    border: 1px solid;
    width: 100%;
    height: 100%;
    padding: auto;
    display: flex;
}

button {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
    height: 30px;
    width: auto;
    max-width: 190px;
    background-color: palegreen;
}

.blue {
    background-color: lightblue;
}

.red {
    background-color: palevioletred;
}

.white {
    background-color: whitesmoke;
}
